body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#website *{
    margin: 0px;
    padding: 0px;
}

#website{    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 70px 1fr 70px;
    grid-template-areas: 
        "header header header header header"
        "menu menu menu menu menu"
        "contenido contenido contenido contenido lateral"
        "footer footer footer footer footer"
;

    width: 75%;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid #ccc;    
}

#header{
    background: blue;
    color: white;

    display: flex;

    grid-area: header;
    grid-column: 1 / 6;

    align-items: center;
    justify-content: center;
}

#menu{
    grid-area: menu;
    grid-column: 1 / 6;
    background: lightblue;
    color: black;
    line-height: 70px;
}

#menu ul{
    display: grid;
    grid-template-columns: repeat(9, 1fr);

    list-style: none;
}

#contenido{
    grid-area: contenido;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;

    grid-column: 1 / 5;
    background: #eee;
    padding: 20px;
}

#contenido article{
    
    background: #ccc;
    border: 1px solid #555;
}

#lateral{
    grid-area: lateral;
    grid-column: 5 / 6;
    background: orange;
    color: white;
}

#footer{
    grid-area: footer;
    grid-column: 1 / 6;
    background: black;
    color: white;
}



