:root{
    --rojo: red;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#layout{
    display: flex;
    border: 3px solid black;    
    padding: 5px;
    /*
    flex-direction: row;
    flex-wrap: wrap;
    */
    flex-flow: row wrap; /*Combina las dos anteriores*/
    justify-content: space-around; /* + opciones: flex-start, flex-end, center, space-between, space-evenly */ /* Alineación horizontal */
}

#inlineflex{
    display: inline-flex;
    border: 3px solid black;
    padding: 5px;
}

.caja{    
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
    background-color: gray;    
}

.red{    
    background-color: red;
}

.green{    
    background-color: green;
}

.blue{    
    background-color: blue;
}

.orange{    
    background-color: orange;
}